@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the button */
  left: 50%;
  margin-left: -60px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
}

.content {
  flex: 1;
  padding: 16px; /* Add padding if needed */
}

img {
  display: block; /* Removes bottom margin/padding */
}
